html, body {
    margin: 0;
    padding: 0;
}

ul {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
}

li {
    padding: 15px;
}

li a {
    display: block;
    color: black;
    text-align: center;  
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
}

.left {
    float: left;
}

.right {
    float: right;
}



